@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --body-font-family: 'Lato', sans-serif;
}

body {
    font-family: var(--body-font-family);
}


.container {
    width: 1120px;
    margin: auto;
}


.father {
    background: url(./img/Bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


nav {
    padding-top: 30px;
    padding-bottom: 100px;
    padding-right: 50px;
}

.navbar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list {
    display: flex;
    gap: 15px;
}

.list__item {
    color: #FFF;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: .6s;
}

.list_item:hover {
    border-bottom: 2px solid #FFF;
    transition: .5s;
    cursor: pointer;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
    border: 1px solid #FFF;
    background: transparent;
    transition: .5s;
}

.btn:hover {
    color: #ed4c5c;
    background: #FFF;
    cursor: pointer;
    transition: .5s;
}

.header-box {
    padding-top: 100px;
    text-align: center;
}

.header-text {
    color: #FFF;
    font-family: var(--body-font-family);
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.header-info {
    color: #FFF;

    font-family: var(--body-font-family);
    font-size: 24px;

    font-weight: 400;
    line-height: 150%;
    padding-top: 30px;
    padding-bottom: 60px;

}

.header-btn {
    color: #ed4c5c;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    background: #FFF;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
    transition: .6s;
}

.header-btn:hover {
    color: #FFF;
    border: 1px solid #FFF;
    cursor: pointer;
    transition: .6s;
    background: transparent;
}

.section-wrapper {
    padding-top: 94px;
}

.section-flex-elems {
    display: flex;
    justify-content: space-between;
}

.section-left-box {
    width: 450px;
    padding-top: 50px;
}

.section-text {
    color: #000;
    font-family: var(--body-font-family);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-paragrof {
    color: #000;
    padding-top: 30px;
    font-family: var(--body-font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}

.section-btn {
    color: #ed4c5c;
    text-align: justify;
    font-family: var(--body-font-family);
    background: transparent;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
}

.section-position {
    position: relative;
}

.section-play-position {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
}